html {
    margin: auto;
    width: 100%;
}
body{
    font-family: 'Bungee';
    text-align: center;
    background-color: #1A1A1D;
    color: aliceblue;
}
h1{
    font-family: bungee, sans-serif;
    font-style: normal;
    font-weight: 600;
}
#currentTime{
    display: inline-block;
    color: aquamarine;
}

* {
    box-sizing: border-box;
  }

.slideshowContainer{
    position: relative;
}

.slidesFade{
    display: none;
}
/* img{
    margin: auto;
    width: 50%;
    height: 500px;
} */

.cursor{
    cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: gainsboro;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev{
    left: 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
img {
    vertical-align: middle;
  }


