.ball{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    position: absolute;
    border-radius: 50%;
    animation: bounce 3s ease-in-out 100ms infinite;
}
@keyframes bounce{
    0%{
        top: 0px;
    }
    50%{
        top: 525px;
        background-color: blueviolet;
        
    }
    100%{
        top: 0px;
        background-color: red;
        right: 0px;
    }
}