 /* body{
    margin:auto;
    background-color: none;
    background-image: url(../images/to-do-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    font-family: 'Mali', cursive;
}

h1{
    color: #ccc;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}


#entered {
    width: 230px;
    box-sizing: border-box;
    border: 3px solid #50d879;
    border-radius: 4px;
    font-size: 16px;
    background-color:white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: 'Mali', cursive;
}

#entered:focus {
    width: 50%;
}

#button{
    
    border: 1px solid white;
    border-radius: 8px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-family: 'Mali', cursive;
}

#button:hover{
    background-color: #4CAF50;
}

.deleteButton{
    border: 1px solid white;
    border-radius: 8px;
    color: black;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none; 
    margin:0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    float: right;
    display: block;
    float: right;
    background-color: whitesmoke;
    margin: 2px 3px;
    position: relative;
}
.deleteButton:hover{
    background-color: #4CAF50;
}

.row{
    margin: 0;
    width: 40%;
    padding: 2px 20px;
    
}
.main{
    margin: 50px 0 100px 54%;
}
.items{
    border: 0.5px solid yellowgreen;
    margin: 5px 5px;
    color: blueviolet;
    text-align: justify;
    background-color: white;
    padding: 10px 5px;
    border-radius: 7px;
    
}

.items:hover{
    background-color: #4CAF50;
}

ul li{
    list-style: none;
    margin: 0;
}
.listItems{
    margin: 0;
}

*/
body{
    margin:auto;
    text-align: center;
}

.container{
    
    width:auto ;
    border: 1px solid red;
    margin: auto;
}
ul.ulist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li{
    margin: 0;
    border: 1px solid blue;
    
}
